<a href="https://colab.research.google.com/github/devayache/Churn_Rate_Alura_Voz/blob/main/Challenges_Semana_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cancelamento da Alura Voz 
O objetivo estudo e observa o Churn de clientes da Alura Voz. \
Mas afinal o que é Churn?

<font color='red'> Churn</font> é um termo em inglês usado para que se tenha uma métrica do número de cancelamento de um empresa. É possível concluir que o Churn, de certa forma, está ligado a satisfação do cliente com o serviço fornecido com a marca, sendo assim é possível medir esse nível de satisfação e tomar medidas preventivas para que os clientes não abandonem seu marca? É isso que vamos tentar descobrir.

A <font color='green'> Alura Voz</font> é uma empresa que fornece de telecomunicações, por tanto possui vários produtos, por isso é preciso analisa os consumidores e seu produtos minuciosamente para se entender o comportamento dos clientes que se deligam da empresa.

In [1]:
#importar o pandas
import pandas as pd

## Visão Geral

Ao olhar a tabela a primeira vez podemos ver que ela possui várias categorias uma dentro da outra, por isso a analise começara separando cada uma das categorias e tratando seus dados individualmente para só depois juntar tudo e poder ver o comportamento dos clientes em relação a taxa de cancelamento.

In [2]:
# Abir o aquivo (formato: Jason)
clientes = pd.read_json('https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json')
clientes.columns = ['AlunoID', 'Cancelamento', 'Informações', 'Telefone', 'Internet', 'Conta']
clientes

,AlunoID,Cancelamento,Informações,Telefone,Internet,Conta
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [3]:
#Backup para caso haja necessidade do uso da tabela original
clientes_backup = clientes.copy()

In [6]:
print(f'É possível observar que existem um total de {clientes.shape[0]} clientes nesta tabela')

É possível observar que existem um total de 7267 clientes



---


## Variáveis: Informações dos clientes

### Apresentação dos dados

Nesta sessão será possível observar e tratar todos os dados da coluna de ***Informações***  da tabela original do cliente

In [7]:
clientes['Informações']

0       {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
1       {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
2       {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
3       {'gender': 'Male', 'SeniorCitizen': 1, 'Partne...
4       {'gender': 'Female', 'SeniorCitizen': 1, 'Part...
                              ...
7262    {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
7263    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
7264    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
7265    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
7266    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
Name: Informações, Length: 7267, dtype: object

In [8]:
clientes['Informações'][0]

{'Dependents': 'Yes',
 'Partner': 'Yes',
 'SeniorCitizen': 0,
 'gender': 'Female',
 'tenure': 9}

Se vê que existem algumas elementos dentro dessa coluna, sendo assim para facilitar a visualização outro DataFrame será criado para poder manipular melhor os dados.

In [9]:
clientes_informacoes = pd.json_normalize(data = clientes['Informações'])
clientes_informacoes.rename(columns = {
    'gender': 'Gênero', 
    'SeniorCitizen': 'Idoso', 
    'Partner': 'Cônjuge',
    'Dependents': 'Dependentes',
    'tenure': 'Tempo_de_Cliente(meses)'
    }, inplace=True)
clientes_informacoes.columns.name = 'Id'

In [10]:
clientes_informacoes['Gênero'] = clientes_informacoes['Gênero'].map({'Female' : 'F', 'Male' : 'M'})
clientes_informacoes['Cônjuge'] = clientes_informacoes['Cônjuge'].map({'Yes' : 'Sim', 'No' : 'Não'})
clientes_informacoes['Dependentes'] = clientes_informacoes['Dependentes'].map({'Yes' : 'Sim', 'No' : 'Não'})
clientes_informacoes

Id   Gênero  Idoso Cônjuge Dependentes  Tempo_de_Cliente(meses)
0         F      0     Sim         Sim                        9
1         M      0     Não         Não                        9
2         M      0     Não         Não                        4
3         M      1     Sim         Não                       13
4         F      1     Sim         Não                        3
...     ...    ...     ...         ...                      ...
7262      F      0     Não         Não                       13
7263      M      0     Sim         Não                       22
7264      M      0     Não         Não                        2
7265      M      0     Sim         Sim                       67
7266      M      0     Sim         Sim                       63

[7267 rows x 5 columns]

In [11]:
clientes.drop(columns = ['Informações'], inplace=True)

#### Analise das variáveis de Informações dos clientes

* ***Gênero*** =  Gênero do aluno : <font color ='b38600'>Feminino ou Masculino</font>
* ***Idoso***  =  Informa se o aluno tem mais de 60 anos ou não : <font color ='b38600'> 0 (Não ) ou 1 (Sim)  </font>
* ***Cônjuge*** =  Informa se o aluno é casado : <font color ='b38600'> Sim ou Não </font>
* ***Dependentes*** =  Informa se o aluno tem dependentes : <font color ='b38600'> Sim ou Não </font>
* ***Tempo_de_Cliente (meses)*** =  Informa quanto tempo o Aluno é cliente a Alura Voz: <font color ='b38600'> Tempo em meses </font>

### Verificação de Dados Faltantes

In [12]:
clientes_informacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gênero                   7267 non-null   object
 1   Idoso                    7267 non-null   int64
 2   Cônjuge                  7267 non-null   object
 3   Dependentes              7267 non-null   object
 4   Tempo_de_Cliente(meses)  7267 non-null   int64
dtypes: int64(2), object(3)
memory usage: 284.0+ KB

Não há dados faltando nas informações dos clientes.



---


## Variáveis: Telefone dos clientes

### Apresentação dos Dados

Nesta sessão será possível observar e tratar todos os dados da coluna de ***Dados***  da tabela original do cliente

---

In [13]:
clientes

,AlunoID,Cancelamento,Telefone,Internet,Conta
0,0002-ORFBO,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...
7262,9987-LUTYD,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [14]:
clientes['Telefone'][0]

{'MultipleLines': 'No', 'PhoneService': 'Yes'}

Em um processo análogo ao feito nas informações dos clientes, um novo DataFrame será criado para armazenar os dados dos clientes



---

In [ ]:
clientes_telefone = pd.json_normalize(data = clientes['Telefone'])
clientes_telefone.rename(columns = {
    'MultipleLines': 'Multiplas Linhas', 
    'PhoneService': 'Telefone', 
    }, inplace=True)
clientes_telefone.columns.name = 'Id'

In [ ]:
clientes_telefone['Telefone'] = clientes_telefone['Telefone'].map({'Yes' : 'Sim', 'No' : 'Não'})
clientes_telefone['Multiplas Linhas'] = clientes_telefone['Multiplas Linhas'].map({'Yes' : 'Sim', 'No' : 'Não'})
clientes_telefone

Id   Telefone Multiplas Linhas
0         Sim              Não
1         Sim              Sim
2         Sim              Não
3         Sim              Não
4         Sim              Não
...       ...              ...
7262      Sim              Não
7263      Sim              Sim
7264      Sim              Não
7265      Sim              Não
7266      Não              NaN

[7267 rows x 2 columns]

#### Analise da variável Telefone dos clientes

* ***Telefone*** =  Informa se o aluno possui telefone: <font color ='b38600'> Sim ou Não</font>
* ***Multiplas Linhas***  =  Informa se o aluno possui mulltplilas linhas de telefone: <font color ='b38600'> Sim ou Não </font>

### Verificação de Dados Faltantes

In [ ]:
clientes_telefone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Telefone          7267 non-null   object
 1   Multiplas Linhas  6560 non-null   object
dtypes: object(2)
memory usage: 113.7+ KB

In [ ]:
clientes_telefone.notnull()

Id    Telefone  Multiplas Linhas
0         True              True
1         True              True
2         True              True
3         True              True
4         True              True
...        ...               ...
7262      True              True
7263      True              True
7264      True              True
7265      True              True
7266      True             False

[7267 rows x 2 columns]

In [ ]:
faltas_telefone = clientes_telefone[clientes_telefone['Multiplas Linhas'].isnull()].shape[0]
print(f'Estão faltando {faltas_telefone} registros de multiplos telefones.')

Estão faltando 707 registros de multiplos telefones.

In [ ]:
clientes_telefone['Multiplas Linhas'].value_counts()

Não    3495
Sim    3065
Name: Multiplas Linhas, dtype: int64

In [ ]:
clientes_telefone = clientes_telefone.fillna(method='ffill')
clientes_telefone[clientes_telefone['Multiplas Linhas'].isnull()].shape[0]

0

In [ ]:
clientes_telefone['Multiplas Linhas'].value_counts()

Não    3900
Sim    3367
Name: Multiplas Linhas, dtype: int64

In [ ]:
clientes.drop(columns = ['Telefone'], inplace=True)



---


## Variáveis: Internet dos clientes

### Apresentação dos dados

In [ ]:
clientes

,AlunoID,Cancelamento,Internet,Conta
0,0002-ORFBO,No,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...
7262,9987-LUTYD,No,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [ ]:
clientes['Internet'][0]

{'DeviceProtection': 'No',
 'InternetService': 'DSL',
 'OnlineBackup': 'Yes',
 'OnlineSecurity': 'No',
 'StreamingMovies': 'No',
 'StreamingTV': 'Yes',
 'TechSupport': 'Yes'}

In [ ]:
clientes_internet = pd.json_normalize(data = clientes['Internet'])
clientes_internet.rename(columns = {
    'DeviceProtection': 'Proteção do Dispositivo', 
    'OnlineSecurity' : 'Seguro Online',
    'InternetService': 'Serviço de Internet', 
    'OnlineBackup': 'Backup Online',
    'StreamingMovies': 'Streaming de Filmes',
    'StreamingTV': 'Streaming de Tv',
    'TechSupport': 'Suporte Tecnico',
    }, inplace=True)
clientes_internet.columns.name = 'Id'
clientes_internet

Id,Serviço de Internet,Seguro Online,Backup Online,Proteção do Dispositivo,Suporte Tecnico,Streaming de Tv,Streaming de Filmes
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...
7262,DSL,Yes,No,No,Yes,No,No
7263,Fiber optic,No,No,No,No,No,Yes
7264,DSL,No,Yes,No,No,No,No
7265,DSL,Yes,No,Yes,Yes,No,Yes
7266,DSL,Yes,Yes,Yes,No,Yes,Yes

In [ ]:
clientes_internet['Serviço de Internet'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [ ]:
clientes_internet['Serviço de Internet']  = clientes_internet['Serviço de Internet'].map({'DSL':'DSL','Fiber optic' : 'Fibra Optica ', 'No': 'Não Possui'})
nomes = []
for i in clientes_internet.columns:
  nomes.append(i)
del(nomes[0])
for i in nomes:
  clientes_internet[i] = clientes_internet[i].map({'Yes': 'Sim', 'No' : 'Não'})
clientes_internet

Id,Serviço de Internet,Seguro Online,Backup Online,Proteção do Dispositivo,Suporte Tecnico,Streaming de Tv,Streaming de Filmes
0,DSL,Não,Sim,Não,Sim,Sim,Não
1,DSL,Não,Não,Não,Não,Não,Sim
2,Fibra Optica,Não,Não,Sim,Não,Não,Não
3,Fibra Optica,Não,Sim,Sim,Não,Sim,Sim
4,Fibra Optica,Não,Não,Não,Sim,Sim,Não
...,...,...,...,...,...,...,...
7262,DSL,Sim,Não,Não,Sim,Não,Não
7263,Fibra Optica,Não,Não,Não,Não,Não,Sim
7264,DSL,Não,Sim,Não,Não,Não,Não
7265,DSL,Sim,Não,Sim,Sim,Não,Sim
7266,DSL,Sim,Sim,Sim,Não,Sim,Sim

#### Analise da variável Internet dos clientes

In [ ]:
clientes_internet['Serviço de Internet'].unique()

array(['DSL', 'Fibra Optica ', 'Não Possui'], dtype=object)

* ***Serviço de Internet*** = Informa o tipo de serviço de internet do aluno: <font color ='b38600'> DSL, Fibra Optica ou Não possui</font>.
* ***Seguro Online*** = Informa se o aluno possui seguro Online:<font color ='b38600'> Sim ou Não </font>
* ***Backup Online*** = Informa se o aluno possui Backup Online:<font color ='b38600'> Sim ou Não</font> 
* ***Proteção do Dispositivo*** =  Informa se o aluno possui proteção para seu dispositivo de acesso a internet:<font color ='b38600'> Sim ou Não</font> 
* ***Suporte Tecnico*** = Informa se o aluno possui suporte tecnico:<font color ='b38600'> Sim ou Não</font>
* ***Streaming de Tv***	= Informa se o aluno possui Streaming de Tv:<font color ='b38600'> Sim ou Não</font>
* ***Streaming de Filmes*** = Informa se o aluno possui Streaming de FIlmes:<font color ='b38600'> Sim ou Não</font>

### Verificação de Dados Faltantes

In [ ]:
clientes_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Serviço de Internet      7267 non-null   object
 1   Seguro Online            5686 non-null   object
 2   Backup Online            5686 non-null   object
 3   Proteção do Dispositivo  5686 non-null   object
 4   Suporte Tecnico          5686 non-null   object
 5   Streaming de Tv          5686 non-null   object
 6   Streaming de Filmes      5686 non-null   object
dtypes: object(7)
memory usage: 397.5+ KB

Não há dados faltando nas informações dos clientes.

In [ ]:
clientes.drop(columns = ['Internet'], inplace=True)

---

## Variáveis: Conta dos clientes

### Apresentação dos dados

In [ ]:
clientes

,AlunoID,Cancelamento,Conta
0,0002-ORFBO,No,"{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...
7262,9987-LUTYD,No,"{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'Contract': 'Two year', 'PaperlessBilling': '..."

In [ ]:
clientes['Conta'][0]

{'Charges': {'Monthly': 65.6, 'Total': '593.3'},
 'Contract': 'One year',
 'PaperlessBilling': 'Yes',
 'PaymentMethod': 'Mailed check'}

In [ ]:
clientes_conta = pd.json_normalize(data = clientes['Conta'])
clientes_conta.rename(columns = {
    'Charges': 'Dados de Cobrança',
    'Charges.Monthly': 'Gasto Por Mês',
    'Charges.Total': 'Gasto Total', 
    'Contract': 'Tempo de Contrato', 
    'PaperlessBilling': 'Fatura sem Papel', 
    'PaymentMethod': 'Metodo de Pagamento' 
    }, inplace=True)
clientes_conta.columns.name = 'Id'

In [ ]:
clientes_conta

Id,Tempo de Contrato,Fatura sem Papel,Metodo de Pagamento,Gasto Por Mês,Gasto Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

In [ ]:
clientes_conta['Tempo de Contrato'].unique()

array(['One year', 'Month-to-month', 'Two year'], dtype=object)

In [ ]:
clientes_conta['Metodo de Pagamento'].unique()

array(['Mailed check', 'Electronic check', 'Credit card (automatic)',
       'Bank transfer (automatic)'], dtype=object)

In [ ]:
clientes_conta['Tempo de Contrato']  = clientes_conta['Tempo de Contrato'].map({'One year':'1 Ano','Two year' : '2 Anos', 'Month-to-month': 'Mês a mês'})
clientes_conta['Metodo de Pagamento']  = clientes_conta['Metodo de Pagamento'].map({'Mailed check':'Envio de Cheque','Electronic check' : 'Cheque eletrônico', 
                                                                                'Credit card (automatic)': 'Cartão de crédito (Automático)', 'Bank transfer' : 'Transferência Bancária' })
clientes_conta['Fatura sem Papel']  = clientes_conta['Fatura sem Papel'].map({'Yes': 'Sim', 'No' : 'Não'})

In [ ]:
clientes_conta

Id,Tempo de Contrato,Fatura sem Papel,Metodo de Pagamento,Gasto Por Mês,Gasto Total
0,1 Ano,Sim,Envio de Cheque,65.60,593.3
1,Mês a mês,Não,Envio de Cheque,59.90,542.4
2,Mês a mês,Sim,Cheque eletrônico,73.90,280.85
3,Mês a mês,Sim,Cheque eletrônico,98.00,1237.85
4,Mês a mês,Sim,Envio de Cheque,83.90,267.4
...,...,...,...,...,...
7262,1 Ano,Não,Envio de Cheque,55.15,742.9
7263,Mês a mês,Sim,Cheque eletrônico,85.10,1873.7
7264,Mês a mês,Sim,Envio de Cheque,50.30,92.75
7265,2 Anos,Não,Envio de Cheque,67.85,4627.65
7266,2 Anos,Não,Cheque eletrônico,59.00,3707.6

In [ ]:
clientes_conta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Tempo de Contrato    7267 non-null   object
 1   Fatura sem Papel     7267 non-null   object
 2   Metodo de Pagamento  5678 non-null   object
 3   Gasto Por Mês        7267 non-null   float64
 4   Gasto Total          7267 non-null   object
dtypes: float64(1), object(4)
memory usage: 284.0+ KB

---

# Outros

In [ ]:
# clientes_df = pd.merge(
#     left = clientes_df,
#     right = clientes_telefone,
#     left_index = True,
#     right_index = True,
#     how = 'left'
# )

In [ ]:
# clientes_df = pd.merge(
#     left = clientes,
#     right = clientes_informacoes,
#     left_index = True,
#     right_index = True,
#     how = 'left'
# )

In [ ]:
# clientes_df = pd.merge(
#     left = clientes_df,
#     right = clientes_internet,
#     left_index = True,
#     right_index = True,
#     how = 'left'
# )
# clientes_df